@{
    ViewData["Title"] = "Home Page";
}

<div id="Home">
    <div class="text-center">
        <h1 class="display-4" style="color: white;">Café Serenity</h1>
        <p></p>
        <p style="color: white;">Where Every Sip Feels Like Home.</p>

        <!-- Shop Button -->
        <a href="#shop" class="btn btn-outline-white btn-lg mt-4">Shop</a>
    </div>
</div>
<div id="Shop">
   

</div>

<div id="About Us">


</div>

<div id="Reviews">

</div>

<div id="Contact Us">


</div>


