@{
    ViewData["Title"] = "Home Page";
}

<div id="Home">
    <div class="text-center">
        <h1 class="display-4" style="color: white;">Café Serenity</h1>
        <p></p>
        <p style="color: white;">Where Every Sip Feels Like Home.</p>

        <!-- Shop Button -->
        <a href="#shop" class="btn btn-outline-white btn-lg mt-4">Shop</a>
    </div>

    <!-- Three animated containers aligned in a row (Bootstrap Grid) -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Coffee Container -->
            <div class="col-12 col-md-4 mb-4">
                <div class="container-card container-left">
                    <h3 class="text-center" style="color: white;">Coffee</h3>
                    <p class="text-center" style="color: white;">Enjoy our premium selection of coffee.</p>
                </div>
            </div>

            <!-- Dessert Container -->
            <div class="col-12 col-md-4 mb-4">
                <div class="container-card container-middle">
                    <h3 class="text-center" style="color: white;">Dessert</h3>
                    <p class="text-center" style="color: white;">Indulge in sweet treats with your coffee.</p>
                </div>
            </div>

            <!-- Pastries Container -->
            <div class="col-12 col-md-4 mb-4">
                <div class="container-card container-right">
                    <h3 class="text-center" style="color: white;">Pastries</h3>
                    <p class="text-center" style="color: white;">Freshly baked pastries just for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="Shop">
   

</div>

<div id="About Us">


</div>

<div id="Reviews">

</div>

<div id="Contact Us">


</div>


